jupyter
pillow
scikit-learn
scikit-image
scipy
h5py
eventlet
flask-socketio
seaborn
pandas
imageio
moviepy
keras==1.2
opencv-contrib-python
matplotlib==2.0.2
dash
dash-renderer
dash-html-components
dash-core-components
dash_table_experiments
plotly
